<div class='sul-embed-body sul-embed-geo'
     data-sul-embed-theme="<%= stylesheet_path('geo.css') %>"
     data-sul-icons="<%= stylesheet_path('sul_icons.css') %>">
  <div id="sul-embed-geo-sidebar" class="" style="display: none;">
  </div>
  <%= content_tag :div, viewer.map_element_options do %>

  <% end %>

  <script>;jQuery.ajax({url: "<%= asset_url('geo.js') %>", cache: true, dataType: 'script'});</script>
</div>
