<div class='sul-embed-body sul-embed-image-x' data-sul-embed-theme="<%= viewer.asset_url('image_x.css') %>">
    <div id='sul-embed-image-x' data-manifest-url="<%=viewer.manifest_json_url %>" data-world-restriction="<%= !viewer.purl_object.world_unrestricted? %>"></div>
    <script>;jQuery.getScript("<%= asset_url('image_x.js') %>");</script>
  </div>
