<div class='sul-embed-body sul-embed-media' style="height: <%= viewer.body_height %>px"
  data-sul-embed-theme="<%= asset_url('media.css') %>">
  <%= Embed::MediaTag.new(viewer).to_html.html_safe %>
  <script>;jQuery.getScript("<%= asset_url('media.js') %>");</script>
</div>
