<% # removing 5 pixels from the body height to account for being embedded %>
<div class='sul-embed-body sul-embed-pdf'
      data-sul-embed-theme="<%= asset_url('pdf.css') %>"
      data-sul-icons="<%= asset_url('sul_icons.css') %>">
  <embed src="<%= viewer.pdf_files.first %>" style="height: 100vh; width: 100%">
</div>
