<% if dir.title.present? %>
  <div class="sul-embed-treeitem">
    <div class='sul-embed-media-object'>
        <i class="sul-i-2x sul-i-file-zipped"></i>
    </div>  
    <span>
      <strong><%= dir.title %></strong>
    </span>
  </div>
<% else %>
  <span class='sul-embed-sr-only'>
      Root
  </span>
<% end %>
<ul role="group">
  <% dir.files.each do |child_file| %>
    <li role="treeitem" data-hierarchy-type="file">
      <%= render 'embed/body/resource_file', file: child_file, viewer: viewer, resource: child_file.resource %>
    </li>
  <% end %>
  <% dir.dirs.each do |child_dir| %>
    <li role="treeitem" aria-expanded="true" data-hierarchy-type="dir">
      <%= render 'embed/body/resource_dir', dir: child_dir, viewer: viewer %>
    </li>
  <% end %>
</ul>
