<div class="sul-embed-3d sul-embed-body">
  <div class="buttons">
    <button aria-label="Zoom in" class="zoom-in">+</button>
    <button aria-label="Zoom out" class="zoom-out">-</button>
  </div>
  <div
    id="virtex-3d-viewer"
    class="virtex"
    data-sul-embed-theme="<%= stylesheet_path('virtex_3d.css') %>"
    data-sul-icons="<%= stylesheet_path('sul_icons.css') %>"
    data-three-dimensional-file="<%= viewer.three_dimensional_files.first %>"
  >
  </div>
  <button
    aria-label="Exit full screen"
    class="sul-embed-btn sul-i-close sul-close-fullscreen-button"
    id="close-full-screen-button">
  </button>
</div>
<%= javascript_packs_with_chunks_tag('virtex_3d_viewer') %>
