<li>
  <a href='<%= url %>' target='_blank' rel='noopener noreferrer'>
    Download <%= download_label %>
  </a>
  <%= render 'embed/restrictions_text_for_file', file: file %>
  <%= file_size %>
</li>
