<div class='sul-embed-panel-container'>
  <div class='sul-embed-panel sul-embed-download-panel' style='display:none' aria-hidden='true'>
    <div class='sul-embed-panel-header'>
      <button class='sul-embed-close' data-sul-embed-toggle='sul-embed-download-panel'>
        <span aria-hidden='true'>&times;</span>
        <span class='sul-embed-sr-only'>Close</span>
      </button>
      <div class='sul-embed-panel-title'>
        <%= title %>
        <span class='sul-embed-panel-item-label'></span>
      </div>
    </div>
    <div class='sul-embed-panel-body'>
      <%= content %>
    </div>
  </div>
</div>