<div data-file-auth-target="locationRestriction" hidden>
    <div class="authLinkWrapper">
        <%= render Icons::LockGlobeComponent.new %>
        <p data-file-auth-target="locationRestrictionMessage" class="loginMessage"><%= I18n.t('restrictions.restricted_access', location: @location) %></p>
    </div>
</div>
