<div data-file-auth-target="locationRestriction" hidden>
    <div class="authLinkWrapper">
        <%= render Icons::LockGlobeComponent.new %>
        <p class="loginMessage" data-file-auth-target="locationRestrictionMessage"></p>
    </div>
</div>