<div class="authLinkWrapper" data-file-auth-target="locationRestriction" hidden>
  <%= render Icons::LockGlobeComponent.new %>
  <p class="loginMessage" data-file-auth-target="locationRestrictionMessage"></p>
</div>
