<div data-file-auth-target="locationRestriction" hidden>
    <div class="authLinkWrapper">
        <%= render Icons::LockGlobeComponent.new %>
        <p data-file-auth-target="locationRestrictionMessage" class="loginMessage">Access is restricted to the <span id='location'><%= @location %></span> reading room. See Access conditions for more information. </p>
    </div>
</div>
