<div data-iiif-auth-restriction-target="locationRestriction" hidden>
    <div class="authLinkWrapper">
        <%= render Icons::LockGlobeComponent.new %>
        <p class="loginMessage" data-iiif-auth-restriction-target="locationRestrictionMessage"></p>
    </div>
</div>
