<div class="authLinkWrapper" data-iiif-auth-restriction-target="locationRestriction" hidden>
  <%= render Icons::LockGlobeComponent.new %>
  <p class="loginMessage" data-iiif-auth-restriction-target="locationRestrictionMessage"></p>
</div>
