<dl class="metadataList">
  <%= render 'embed/metadata/media_accessibility_note', viewer: viewer %>

  <dt>Citation URL</dt>
  <dd>
    <a href='<%= purl_url %>' target='_top'><%= purl_url_display %></a>
  </dd>
</dl>
