<div class="authLinkWrapper" data-iiif-auth-restriction-target="restrictedContainer" hidden>
  <span class="icon" data-iiif-auth-restriction-target="restrictedIcon"></span>
  <p class="loginMessage" data-iiif-auth-restriction-target="restrictedMessage"></p>
</div>