<%= tag.section id: id, role: 'tabpanel', hidden: hidden?, data: data do %>
  <div class="header-background">
    <h3><%= title %></h3>
  </div>
  <%= subheading %>
  <div class="left-drawer-content">
    <%= body %>
  </div>
<% end %>
