<% if file.location_restricted? %>
  <span class="sul-embed-location-restricted-text">(Restricted)</span>
<% elsif file.stanford_only? %>
  <span class="sul-embed-stanford-only-text">
    <span class="sul-embed-text-hide visually-hidden">Stanford only</span>
  </span>
<% end %>
