<div class='sul-embed-image-x-buttons'>
  <%= content_tag :button, '',
    class: 'sul-embed-btn sul-embed-btn-default sul-embed-btn-toolbar' \
      ' sul-i-layout-none sul-embed-hidden',
    'data-sul-view-mode' => 'individuals',
    'aria-label' => 'switch to individuals mode'
  %>
  <%= content_tag :button, '',
    class: 'sul-embed-btn sul-embed-btn-default sul-embed-btn-toolbar' \
      ' sul-i-layout-4 sul-embed-hidden',
    'data-sul-view-mode' => 'paged',
    'aria-label' => 'switch to paged mode'
  %>
  <%= content_tag :button, '',
    class: 'sul-embed-btn sul-embed-btn-default sul-embed-bt' \
      'n-toolbar sul-i-view-module-1 sul-embed-hidden',
    'data-sul-view-perspective' => 'overview',
    'aria-label' => 'switch to overview perspective'
  %>
  <%= content_tag :button, '',
    class: 'sul-embed-btn sul-embed-btn-default sul-embed-bt' \
      'n-toolbar sul-i-expand-1 sul-embed-hidden',
    'data-sul-view-fullscreen' => 'fullscreen',
    'aria-label' => 'switch to fullscreen'
  %>
</div>
