<!DOCTYPE html>
<html>
  <head>
    <%= tag :link, rel: "up", href:
    Embed::Purl.new(@embed_response.request.purl_object.collections.first).purl_url
    if @embed_response && @embed_response.request.purl_object.collections.any?
    %>
  </head>
  <%= render 'analytics' %>
  <body>
    <%= render @embed_response.viewer.component.new(viewer: @embed_response.viewer) %>
  </body>
</html>
