<div class="sul-embed-container <%= 'sul-embed-fullheight' if viewer.request.fullheight? %>"
  id='sul-embed-object' style='display:none; <%= viewer.container_styles %>'>
  <%= render 'body/m3_viewer', viewer: viewer %>
 </div>
