<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>embed tester</title>
  <style>
    html {
     box-sizing: border-box;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    * {
      padding: 0;
      margin: 0;
    }

    body {
      color: #333;
      font-family: 'Open Sans', 'Helvetica Neue', Sans Serif;
    }

    input[type=text] {
      padding: 2px 4px;
    }
    input#min-files {
      width: 26px;
    }
    .form-params {
      background-color: #bdc3c7;
      line-height: 3em;
      padding: 10px 20px;
    }

    .form-params .btn-render {
      background-color: #22313f;
      border-width: 0;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-family: 'Open Sans';
      padding: 6px 12px;
    }

    .content {
      padding: 20px;
    }

    .viewer {
      clear: left;
      display: block;
      margin: 5px 0;
    }

    td {
      border: 1px solid black;
      padding: 0 20px;
    }

    table {
      border-collapse: collapse;
    }

    .status {
      font-size:26px;
      font-weight: bold;
      text-align: center;
    }
    .failed {
      color: red;
    }

    h3, h4 {
      margin-top: 1rem;
    }

    li {
      list-style-type: none;
      white-space: nowrap;
    }

    .examples {
      display: flex;
      flex-wrap: wrap;

      &> div {
        margin-inline-end: 1rem;
      }
    }
  </style>
  <script>
     function openPurl(purl) {
       const url = document.getElementById('url-scheme')
       url.value = `https://purl.stanford.edu/${purl}`
       embed.render()
     }
  </script>
</head>

<body>
  <form action="" class="form-params">
    <%= text_field_tag 'api-endpoint', "//#{request.host}:#{request.port}#{embed_path}", class: 'api-endpoint', size: 50 %>/?url=
    <%= text_field_tag 'url-scheme', 'https://purl.stanford.edu/tn629pk3948', class:'url-scheme', size: 50 %>
    <label for="">&format=</label>
    <select name="select-format" id="select-format">
      <option value="json">JSON</option>
      <option value="xml">XML</option>
    </select>
    <label for="">&maxwidth=</label><input type="text" class="max-width" size="4" value="">
    <label for="">&maxheight=</label><input type="text" class="max-height" size="4" value="">
    <br>
    <label for="hide-title">Hide title?</label> <input type="checkbox" id="hide-title" class="hide-title" />
    <label for="new-viewer">New viewer?</label> <input type="checkbox" id="new-viewer" class="new-viewer" checked/>
    <label for="hide-search">Hide search?</label> <input type="checkbox" id="hide-search" class="hide-search" />
    <label for="hide-search">Minimum files for search:</label> <input type="text" id="min-files" class="min-files" value="10" length="2" />
    <label for="hide-embed">Hide embed?</label> <input type="checkbox" id="hide-embed" class="hide-embed" />
    <label for="hide-download">Hide download?</label> <input type="checkbox" id="hide-download" class="hide-download" />
    <label for="canvas-index">Canvas index</label> <input type="number" id="canvas-index" class="canvas-index" />
    <br>
    <input type="button" class="btn-render" value="Embed">
  </form>

  <div class="content">
    <p>
      Nam sit amet mi ut lectus lobortis volutpat. Fusce bibendum sem quis odio feugiat, nec consectetur orci fermentum.
      Aliquam vel dignissim purus. Aliquam id urna ut nisl fermentum tempus et in odio. Donec varius interdum ex,
      sed finibus odio. Vivamus in sodales velit, non fermentum odio. Nunc in posuere lacus.
    </p>
    <div class="viewer">
    </div>
    <p>
      Proin vestibulum quam sed turpis blandit molestie. Ut a massa a est consequat semper vitae eu augue. Sed consequat
      euismod molestie. Vivamus tempus venenatis lorem nec facilisis. Mauris ultricies mauris felis. Maecenas efficitur
      sollicitudin sem non ullamcorper. Praesent auctor vehicula lorem id lobortis. Maecenas eu sapien eu massa facilisis
      lacinia eget eget eros. Duis in augue augue.
    </p>
    <h3>Useful Druids</h3>
    <div class="examples">
      <div>
        <h4>Image viewer</h4>
        <ul>
          <li>
            <a href="#" onclick="openPurl('sg052hd9120')">
              Single image - sg052hd9120
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('fw090jw3474')">
              Multi image - fw090jw3474
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('cy496ky1984')">
              Book (multi image, paged viewing hint) - cy496ky1984
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('bb537hc4022')">
              Image with restrictions - bb537hc4022
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('dn665vh1697')">
              Image with Book download - dn665vh1697
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('bg262qk2288')">
              Image with pdf and other downloads - bg262qk2288
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('yh887qk5737')">
              Image (Stanford Only) - yh887qk5737
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h4>Media viewer</h4>
        <ul>
          <li>
            <a href="#" onclick="openPurl('bb582xs1304')">
              mp4 - bb582xs1304
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('tn629pk3948')">
              mp4, jp2 - tn629pk3948
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('bb051hp9404')">
              mp3 - bb051hp9404
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('vh816yh7318')">
              mp3 (multiple) - vh816yh7318
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('bd699ky6829')">
              mp4 (captions) - bd699ky6829
            </a>
          </li>
          <li>
            <a href="#" onclick="openPurl('zp130dq1795')">
              mp4 (multiple, with captions) - zp130dq1795
            </a>
          </li>
        </ul>
      </div>

      <div>
      <h4>Web archive viewer</h4>
      <ul>
        <li>
          <a href="#" onclick="openPurl('gb089bd2251')">
            Warc-seed - gb089bd2251
          </a>
        </li>
      </ul>
      </div>

      <div>
      <h4>Geo viewer</h4>
      <ul>
        <li>
          <a href="#" onclick="openPurl('cz128vq0535')">Geo (Vector) public - cz128vq0535</a>
        </li>
        <li>
          <a href="#" onclick="openPurl('fp756wn9369')">Geo (Vector) restricted - fp756wn9369</a>
        </li>
        <li>
          <a href="#" onclick="openPurl('tg926kp6619')">Geo (Raster) public - tg926kp6619</a>
        </li>
        <li>
          <a href="#" onclick="openPurl('gk831nh0251')">Geo (Raster) public (crosses 180 longitude) - gk831nh0251</a>
        </li>
        <li>
          <a href="#" onclick="openPurl('sf815vr1246')">Geo (Raster) restricted - sf815vr1246</a>
        </li>

        <li>
          <a href="#" onclick="openPurl('ts545zc6250')">
            Geo Index map - ts545zc6250
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('bh152hk2665')">
            Geo with jpg/zip - bh152hk2665
          </a>
        </li>
      </ul>
      </div>

      <div>
      <h4>Document viewer</h4>
      <ul>
        <li>
          <a href="#" onclick="openPurl('bh502xm3351')">
            pdf - bh502xm3351
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('bb461xx1037')">
            pdf (Stanford Only) - bb461xx1037
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('bz673hm0344')">
            pdf (Citation Only) - bz673hm0344
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('bb990sg8412')">
            pdf (object emgargoed, file available) - bb990sg8412
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('ds777pr3860')">
            pdf (multiple files) - ds777pr3860
          </a>
        </li>
      </ul>
      </div>

      <div>
      <h4>File viewer</h4>
      <ul>
        <li>
          <a href="#" onclick="openPurl('wt101ks3240')">
            File with text and gzip - wt101ks3240
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('qy869qz5226')">
            File with many tar - qy869qz5226
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('js533sk1281')">
            File with 2002 files - js533sk1281
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('fg478vy8624')">
            File with hierarchy - fg478vy8624
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('bb010qz8357')">
            File stanford only - bb010qz8357
          </a>
        </li>
        <li>
          <a href="#" onclick="openPurl('bb012jz6387')">
            File location restricted - bb012jz6387
          </a>
        </li>
      </ul>
      </div>

      <div>
      <h4>3d viewer</h4>
      <ul>
        <li>
          <a href="#" onclick="openPurl('fs892sr8080')">
            3d - fs892sr8080
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>

  <script>
  const embed = (function() {
    let url, format;

    function init() {
      if (isValidUrl()) {
        submitRequest(url);
      }
    }

    function isValidUrl() {
      const apiEndpoint = document.querySelector('.api-endpoint').value.trim();
      const urlScheme = document.querySelector('.url-scheme').value.trim();
      const hideTitle = document.querySelector('.hide-title').checked;
      const newViewer = document.querySelector('.new-viewer').checked;
      const hideSearch = document.querySelector('.hide-search').checked;
      const minFiles = document.querySelector('.min-files').value;
      const hideEmbed = document.querySelector('.hide-embed').checked;
      const hideDownload = document.querySelector('.hide-download').checked;
      const maxWidth = parseInt(document.querySelector('.max-width').value, 10);
      const maxHeight = parseInt(document.querySelector('.max-height').value, 10);
      const canvasIndex = parseInt(document.querySelector('.canvas-index').value, 10);

      format = document.getElementById('select-format').value;

      if (apiEndpoint !== "" && urlScheme !== "") {
        url = apiEndpoint + "/?url=" + urlScheme + "&format=" + format;

        if (newViewer) url += "&new_viewer=true";
        if (hideTitle) url += "&hide_title=true";
        if (hideSearch) url += "&hide_search=true";
        if (minFiles) url += "&min_files_to_search=" + minFiles;
        if (hideEmbed) url += "&hide_embed=true";
        if (hideDownload) url += "&hide_download=true";
        if (!isNaN(maxWidth)) url += "&maxwidth=" + maxWidth;
        if (!isNaN(maxHeight)) url += "&maxheight=" + maxHeight;
        if (!isNaN(canvasIndex)) url += "&canvas_index=" + canvasIndex;

      } else {
        alert('Error:\nEmpty API endpoint and/or URL scheme');
        return false;
      }

      return true;
    }

    function appendContent(response) {
      const viewer = document.querySelector('.viewer');

      let html;
      if (format === "json") {
        html = response.html;
      }

      viewer.innerHTML = ''; // Clear existing content
      viewer.innerHTML = html;


    }

    function submitRequest(url) {
      let statusElement = document.querySelector('.status');
      if (!statusElement) {
        statusElement = document.createElement('p');
        statusElement.classList.add('status');
        document.querySelector('.viewer').appendChild(statusElement);
      }

      statusElement.classList.remove('failed');
      statusElement.textContent = 'Loading...';

      fetch(url, {
        method: 'GET'
      })
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response[format === 'json' ? 'json' : 'text'](); // Parse based on format
      })
      .then(data => {
        statusElement.remove();
        appendContent(data);
        document.activeElement.blur();
      })
      .catch(error => {
        const viewer = document.querySelector('.viewer');
        viewer.innerHTML = '';
        const statusFeedback = document.createElement('p');
        statusFeedback.classList.add('status', 'failed');
        statusFeedback.textContent = 'Request Failed';
        viewer.appendChild(statusFeedback);
        console.error('Request failed:', error);
      });
    }

    return {
      render: init
    };

  })();

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('.btn-render').addEventListener('click', embed.render);
    const inputs = document.querySelectorAll('input');
    inputs.forEach(input => {
      input.addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
          embed.render();
        }
      });
    });

  });
  </script>
</body>

</html>
