purl_url: 'https://purl.stanford.edu'
# timeouts specified in seconds
purl_read_timeout: 20
purl_conn_timeout: 2
purl_feedback_email: 'some-email-address@distribution-list-host.stanford.edu'
stacks_url: 'https://stacks.stanford.edu'
iiif_info_url: 'https://library.stanford.edu/iiif/viewers'
enable_media_viewer?: <%= true %>
geo_external_url: 'https://earthworks.stanford.edu/catalog/stanford-'
geo_wms_url: 'https://geowebservices.stanford.edu/geoserver/wms/'
resource_types_that_contain_thumbnails:
  - audio
  - file
  - video
# This indicates which mimetypes are the
# primary file for a given resource type
primary_mimetypes:
  audio:
    - audio/aac
    - audio/mpeg
    - audio/mp4
  image:
    - image/jp2
  video:
    - video/mp4
    - video/quicktime
streaming:
  auth_url: "%{host}/media/%{druid}/%{title}/auth_check"
  source_types:
    - hls
  hls:
    suffix: '.m3u8'
    mimetype: 'application/x-mpegURL'
    protocol: 'https'
  dash:
    suffix: '.mpd'
    mimetype: 'application/dash+xml'
    protocol: 'https'
stream:
  url: sul-mediaserver.stanford.edu/stacks/_definst_
  # streaming media file extensions we support
  video:
    - mov
    - mp4
    - mpeg
  audio:
    - mp3
    - m4a
# Mapping from file extensions to Wowza streaming prefixes
streaming_prefix:
  mov: 'mp4'
  mp4: 'mp4'
  mpeg: 'mp4'
  m4a: 'mp4'
  mp3: 'mp3'

collections_to_show_attribution:
  - dc876nn4469
# Google Analytics will report in debug mode by default
# in shared_configs for embed-prod, we set this value to 0  
analytics_debug: true
min_files_to_search_default: 10
enabled_features:
  transcripts: false
