purl_url: 'https://purl.stanford.edu'
# timeouts specified in seconds
purl_read_timeout: 20
purl_conn_timeout: 2
purl_feedback_email: ''
valid_purl_url: <%= /https?:\/\/purl\.stanford\.edu\/*/ %>
stacks_url: 'https://stacks.stanford.edu'
iiif_info_url: 'https://library.stanford.edu/iiif/viewers'
enable_media_viewer?: <%= true %>
embed_iframe_url: 'https://embed.stanford.edu/iframe'
jquery_version: '3.4.1'
geo_external_url: 'https://earthworks.stanford.edu/catalog/stanford-'
geo_wms_url: 'https://geowebservices.stanford.edu/geoserver/wms/'
was_thumbs_url: 'https://thumbnail-service-example.edu'
# timeouts specified in seconds
was_thumb_read_timeout: 5
was_thumb_conn_timeout: 5
resource_types_that_contain_thumbnails:
  - audio
  - file
  - video
# This indicates which mimetypes are the
# primary file for a given resource type
primary_mimetypes:
  audio:
    - audio/aac
    - audio/mpeg
    - audio/mp4
  image:
    - image/jp2
  video:
    - video/mp4
    - video/quicktime
streaming:
  auth_url: "%{host}/media/%{druid}/%{title}/auth_check"
  source_types:
    - hls
    - flash
  hls:
    suffix: '.m3u8'
    mimetype: 'application/x-mpegURL'
    protocol: 'https'
  flash:
    mimetype: 'audio/mpeg'
    protocol: 'rtmp'
  dash:
    suffix: '.mpd'
    mimetype: 'application/dash+xml'
    protocol: 'https'
stream:
  url: streaming-server.com:1935/stuff
  # streaming media file extensions we support
  video:
    - mov
    - mp4
    - mpeg
  audio:
    - mp3
    - m4a
# Mapping from file extensions to Wowza streaming prefixes
streaming_prefix:
  mov: 'mp4'
  mp4: 'mp4'
  mpeg: 'mp4'
  m4a: 'mp4'
  mp3: 'mp3'
# Any Embed::Viewer could be put here.
image_viewer: Embed::Viewer::UVImage
use_uv_for_files: true # A feature flag that toggles registering the Embed::Viewer::UVFile viewer
collections_to_show_attribution:
  - dc876nn4469
REVISION: <%= File.read("#{Rails.root}/REVISION").chomp if File.exists?("#{Rails.root}/REVISION") %>
