<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'geo.css' %>
    <%= javascript_importmap_tags 'geo' %>
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
