<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'media.css' %>
    <%= stylesheet_link_tag 'sul_icons.css' %>
    <%= javascript_importmap_tags 'media' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
