<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'pdf.css' %>
    <% # sul_icons.css is used for file icons in the "Contents" companion window %>
    <%= stylesheet_link_tag 'sul_icons.css' %>
    <%= javascript_importmap_tags 'document' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
