<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'companion_window.css' %>
    <%= stylesheet_link_tag 'sul_icons.css' %>
    <%= javascript_importmap_tags 'document' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
