<dt>International Image Interoperability Framework</dt>
<dd>
  <a class='sul-embed-image-x-iiif-drag-and-drop-link' href='<%= viewer.drag_and_drop_url %>' target='_parent'>
    <img src="<%= viewer.asset_url('iiif-drag-icon.png') %>" />
  </a>
  <span class='sul-embed-iiif-instruction'>
    <%= viewer.drag_and_drop_instruction_text %> <a href='<%= Settings.iiif_info_url %>' target='_parent'>IIIF viewer</a>
  </span>
</dd>
