.#{$namespace}-container {
  
  .#{$namespace}-btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid transparent;
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    @include user-select(none);

    &,
    &:active,
    &.active {
      &:focus {
        @include tab-focus();
      }
    }

    &:hover,
    &:focus {
      color: $btn-default-color;
      text-decoration: none;
    }

    &:active,
    &.active {
      outline: 0;
      background-image: none;
      @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      @include opacity(.65);
      @include box-shadow(none);
    }
  }
  .#{$namespace}-btn-default {
    @include button-variant($sul-button-color, $sul-button-bg, $sul-button-border-color);
  }
  
  .#{$namespace}-btn-sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
  .#{$namespace}-btn-xs {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
}