.#{$namespace}-container {
  
  .#{$namespace}-btn {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border: none;
    white-space: nowrap;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
    user-select: none;

    &,
    &:active,
    &.active {
      &:focus {
        // Default
        outline: thin dotted;
        // WebKit
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
    }

    &:hover,
    &:focus {
      border: none;
      color: $btn-default-color;
      text-decoration: none;
    }

    &:active,
    &.active {
      outline: 0;
      background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      opacity: .65;
      box-shadow: none;
    }
  }
  .#{$namespace}-btn-default {
    @include button-variant($sul-button-color, $sul-button-bg, $sul-button-border-color);
  }
  
  .#{$namespace}-btn-toolbar {
    @include button-size(0, 6px, 1.3em, $line-height-base, 0);
  }
}