.loading-spinner {
  animation: loading-spinner 2s linear infinite;
  border: 8px solid $gray-54-percent;
  border-radius: 50%;
  border-top: 8px solid $gray-80-percent;
  height: 50px;
  left: 50%;
  margin: auto;
  position: absolute;
  top: 40%;
  width: 50px;
}

@keyframes loading-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
