// Adapted from https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_media.scss
// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------

@import 'sul_variables';

// Common styles
// -------------------------

// Clear the floats
.#{$namespace}-media,
.#{$namespace}-media-body {
  overflow: hidden;
  zoom: 1;
}

// Proper spacing between instances of .media
.#{$namespace}-media,
.#{$namespace}-media .#{$namespace}-media {
  margin-top: 15px;
}
.#{$namespace}-media:first-child {
  margin-top: 0;
}

// For images and videos, set to block
.#{$namespace}-media-object {
  border: 1px solid $beige-30-percent;
  border-radius: 3px;
  display: block;
  height: 50px;
  overflow: hidden;
  text-align: center;
  width: 50px;
  
  .fa-2x {
    line-height: 50px;
    vertical-align: middle;
  }
}

// Reset margins on headings for tighter default spacing
.#{$namespace}-media-heading {
  margin: 0;
}


// Media image alignment
// -------------------------

.#{$namespace}-media {
  > .pull-left {
    margin-right: 10px;
  }
  > .pull-right {
    margin-left: 10px;
  }
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.#{$namespace}-media-list {
  padding-left: 0;
  list-style: none;
}