.sul-embed-container {
  .sul-embed-panel-container {
    height: 0px;
    position: relative;

    * {
      margin-bottom: 5px;
    }

    dt,
    .sul-embed-options-label {
      color: $sul-metadata-label-color;
      font-weight: normal;
      font-size: 0.9em;
      text-transform: uppercase !important;
      padding-top: 15px;
    }
    dd {
      margin-left: 15px;
    }

    .sul-embed-panel {
      background: $sul-metadata-bg;
      border: none;
      border-top: 1px solid $sul-border-color;
      bottom: 0;
      margin-bottom: 0;
      height: auto;
      overflow: auto;
      position: absolute;
      width: 100%;
      z-index: 2000;

      .sul-embed-panel-header {
        border-bottom: 1px solid #e3dfd5;
        font-size: 1.1em;
        height: auto;
        padding: 10px 15px;

        .sul-embed-close {
          float: right;
        }

        .sul-embed-panel-title {
          font-size: $sul-title-size;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .sul-embed-panel-body {
        padding: 0 15px 15px 15px;
      }

      .sul-embed-metadata-section {
        padding-bottom: 0px;
        padding-top: 15px;
      }

      .sul-embed-panel-heading {
        color: $sul-metadata-heading-color;
        font-size: 0.9em;
        text-transform: uppercase;
      }

      &.sul-embed-embed-this-panel {
        .sul-embed-embed-this-form {
          input[type="checkbox"],
          input[type="text"] {
            margin-right: 3px;
          }
          input[type="text"] {
            margin-left: 3px;
            width: 26px;
          }
          .sul-embed-embed-title-section {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .sul-embed-embed-title {
            font-style: italic;
          }
          .sul-embed-options-label {
            display: block;
          }
          .sul-embed-section {
            margin-left: 15px;
          }
          textarea {
            width: 90%;
            height: 4rem;
          }
        }
      }

      &.sul-embed-download-panel {
        .sul-embed-download-options {
          margin: 20px 10px;
          width: 80%;

          .sul-embed-stanford-only a {
            border-width: 0;
          }
        }

        .sul-embed-panel-item-label {
          margin-left: 5px;
        }
      }
    }
  }

  ul.sul-embed-download-list {
    list-style: none;
    padding-left: 8px;
  }
}
