.#{$namespace}-container {
  .#{$namespace}-panel-container {
    height: 0px;
    position: relative;

    * {
      margin-bottom: 5px;
    }

    dt, .#{$namespace}-options-label {
      color: $sul-metadata-label-color;
      font-weight: normal;
      font-size: .9em;
      text-transform: uppercase !important;
      padding-top: 15px;
    }
    dd {
      margin-left: 15px;
    }

    .#{$namespace}-panel {
      background: $sul-metadata-bg;
      border: none;
      border-top: 1px solid $sul-border-color;
      bottom: 0;
      margin-bottom: 0;
      height: auto;
      overflow: auto;
      position: absolute;
      width: 100%;
      z-index: 2000;

      .#{$namespace}-panel-header {
        border-bottom: 1px solid #e3dfd5;
        font-size: 1.1em;
        height: auto;
        padding: 10px 15px;

        .#{$namespace}-close {
          float: right;
        }

        .#{$namespace}-panel-title {
          font-size: $sul-title-size;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .#{$namespace}-panel-body {
        padding: 0 15px 15px 15px;
      }

      .#{$namespace}-metadata-section {
        padding-bottom: 0px;
        padding-top: 15px;
      }

      .#{$namespace}-panel-heading {
        color: $sul-metadata-heading-color;
        font-size: .9em;
        text-transform: uppercase;
      }

      &.#{$namespace}-embed-this-panel {
        .#{$namespace}-embed-this-form {
          input[type='checkbox'], input[type='text'] {
            margin-right: 3px;
          }
          input[type='text'] {
            margin-left: 3px;
            width: 26px;
          }
          .#{$namespace}-embed-title-section {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .#{$namespace}-embed-title {
            font-style: italic;
          }
          .#{$namespace}-options-label {
            display: block;
          }
          .#{$namespace}-section {
            margin-left: 15px;
          }
          textarea {
            width: 90%;
            height: 4rem;
          }
        }
      }

      &.#{$namespace}-download-panel {
        .#{$namespace}-download-options {
          margin: 20px 10px;
          width: 80%;

          .#{$namespace}-stanford-only a {
            border-width: 0;
          }
        }

        .#{$namespace}-panel-item-label {
          margin-left: 5px;
        }
      }
    }
  }

  ul.#{$namespace}-download-list {
    @include panel-list-style;
  }

  ul.#{$namespace}-download-list-full {
    @include panel-list-style;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .#{$namespace}-license-by {
    @include license-base;
    @include license-image('by.png');
    @include license-image('by.svg');
  }

  .#{$namespace}-license-by-sa {
    @include license-base;
    @include license-image('by-sa.png');
    @include license-image('by-sa.svg');
  }

  .#{$namespace}-license-by-nd {
    @include license-base;
    @include license-image('by-nd.png');
    @include license-image('by-nd.svg');
  }

  .#{$namespace}-license-by-nc {
    @include license-base;
    @include license-image('by-nc.png');
    @include license-image('by-nc.svg');
  }

  .#{$namespace}-license-by-nc-sa {
    @include license-base;
    @include license-image('by-nc-sa.png');
    @include license-image('by-nc-sa.svg');
  }

  .#{$namespace}-license-by-nc-nd {
    @include license-base;
    @include license-image('by-nc-nd.png');
    @include license-image('by-nc-nd.svg');
  }

  .#{$namespace}-license-pdm {
    @include license-base;
    @include license-image('pdm.png');
    @include license-image('pdm.svg');
  }
}
