@import 'sul_variables';
@import 'mixins';

.#{$namespace}-container {
  .#{$namespace}-panel-container {
    height: 0px;
    position: relative;

    .#{$namespace}-panel {
      background: $sul-metadata-bg;
      border: none;
      bottom: 0;
      height: 300px;
      overflow: auto;
      padding: 10px 7px;
      position: absolute;
      width: 100%;
      z-index: 2000;

      .#{$namespace}-panel-header {
        border-bottom: 1px solid #e3dfd5;
        font-size: 1.1em;
        height: 30px;

        .#{$namespace}-close {
          float: right;
        }

        .#{$namespace}-panel-title {
          font-size: $sul-title-size;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .#{$namespace}-metadata-section {
        padding-bottom: 0px;
        padding-top: 15px;
      }

      .#{$namespace}-panel-heading {
        color: $sul-metadata-heading-color;
        font-size: .9em;
        text-transform: uppercase;
      }

      &.#{$namespace}-embed-this-panel {
        .#{$namespace}-embed-this-form {
          input[type='checkbox'], input[type='text'] {
            margin-right: 3px;
          }
          input[type='text'] {
            margin-left: 3px;
            width: 26px;
          }
          .#{$namespace}-options-label {
            float: left;
          }
          .#{$namespace}-section {
            margin-left: 100px;
          }
          textarea {
            width: 90%;
          }
        }
      }

      &.#{$namespace}-download-panel {
        .#{$namespace}-download-options {
          margin: 20px 10px;
        }
      }
    }
  }

  .#{$namespace}-license-by {
    @include license-images("by", $asset_url)
  }

  .#{$namespace}-license-by-sa {
    @include license-images("by-sa", $asset_url)
  }

  .#{$namespace}-license-by-nd {
    @include license-images("by-nd", $asset_url)
  }

  .#{$namespace}-license-by-nc {
    @include license-images("by-nc", $asset_url)
  }

  .#{$namespace}-license-by-nc-sa {
    @include license-images("by-nc-sa", $asset_url)
  }

  .#{$namespace}-license-by-nc-nd {
    @include license-images("by-nc-nd", $asset_url)
  }

  .#{$namespace}-license-pdm {
    @include license-images("pdm", $asset_url)
  }
}
