@import 'sul_variables';
@import 'mixins';

// The common style for SLY slider in the embed viewer
$thumb-slider-scroll-background-color: $sul-background;
$thumb-slider-scroll-selected-color: rgba(0, 0, 0, 0.4);

.#{$namespace}-thumb-slider-scroll {
  background: $thumb-slider-scroll-background-color;
  height: 10px;
}

.#{$namespace}-thumb-slider-handle {
  @include rounded(0.1em);
  background: $thumb-slider-scroll-selected-color;
  cursor: pointer;
  height: 100%;
}

.#{$namespace}-thumb-slider-mousearea {
  height: 20px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 100%;
}
