<div class='sul-embed-footer'>
  <div class='sul-embed-footer-toolbar'>
    <button class='sul-embed-footer-tool sul-embed-btn sul-embed-btn-toolbar sul-embed-btn-default sul-i-infomation-circle'
      aria-expanded='false' aria-label='open metadata panel'
      data-sul-embed-toggle='sul-embed-metadata-panel'></button>
    <% unless viewer.request.hide_embed_this? %>
      <button class='sul-embed-footer-tool sul-embed-btn sul-embed-btn-toolbar sul-embed-btn-default sul-i-share'
        aria-expanded='false'
        aria-label='open embed this panel'
        data-sul-embed-toggle= 'sul-embed-embed-this-panel'></button>
    <% end %>

    <% if viewer.show_download? %>
      <button
        class='sul-embed-footer-tool sul-embed-btn sul-em bed-btn-toolbar sul-embed-btn-default sul-i-download-3'
        aria-expanded='false' aria-label='<%= download_file_label %>'
        data-sul-embed-toggle='sul-embed-download-panel'>
        <% if file_count > 0 %>
          <span class='sul-embed-footer-tool sul-embed-download-count'><%= file_count %></span>
        <% end %>
      </button>
    <% end %>

    <% if external_url.present? %>
      <a class='sul-embed-footer-tool sul-embed-btn sul-embed-btn-toolbar sul-embed-btn-default sul-i-navigation-next-4'
        href="<%= external_url %>" target='_parent'>
        <span class='sul-embed-sr-only'><%= external_url_text %></span>
      </a>
    <% end %>

    <% if viewer.fullscreen? %>
      <button
        aria-label="Full screen"
        class="sul-embed-footer-tool sul-embed-btn sul-embed-btn-toolbar sul-embed-btn-default sul-i-expand-1 sul-fullscreen-button"
        id="full-screen-button">
      </button>
    <% end %>
  </div>
</div>
