<%= render Embed::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'file-auth') do |component| %>
  <% component.with_body do %>
    <div class='sul-embed-body sul-embed-pdf' style="width: 100%" data-action="iiif-manifest-received@window->file-auth#parseFiles"  data-file-auth-target="container"></div>
  <% end %>
<% end %>