<%= render Embed::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'file-auth') do |component| %>
  <% component.with_header_button do %>
      <button
        aria-label="Full screen"
        class="btn sul-i-expand-1 sul-fullscreen-button"
        id="full-screen-button">
      </button>
  <% end %>
  <% component.with_body do %>
    <% if viewer.available? %>
      <div class='sul-embed-body sul-embed-pdf' style="width: 100%"
          data-controller="pdf"
          data-action="iiif-manifest-received@window->file-auth#parseFiles auth-success@window->pdf#show">
        <%= render Embed::LoginComponent.new %>
      </div>
    <% else %>
       <div class='sul-embed-body sul-embed-pdf' style="width: 100%">
         <%= render Embed::ContentNotAvailableComponent.new %>
       </div>
    <% end %>
  <% end %>
<% end %>
