  <dialog aria-labelledby="download-modal-header" class="modal-container" data-companion-window-target="downloadModal" data-action="click->companion-window#handleBackdropClicks" id="download">
    <header class="modal-header" id="download-modal-header">
      Download
    </header>

    <section class='sul-embed-downloads'>
      <%= content %>
    </section>

    <button data-action="click->companion-window#closeModal">Close</button>
  </dialog>
