<% if downloadable_files.present? %>
  <h3 class='sul-embed-options-label modal-subheader'>
    Files
  </h3>
  <%= render Download::AllFilesComponent.new(viewer:) %>

  <% if single_file_download? %>
    <% if grouped_files? %>
      <% grouped_downloadable_files.each do |content| %>
        <% if content.files.any? %>
          <h4><%= content.label %></h4>
          <ul>
            <%= render Download::FileListItemComponent.with_collection(content.files, prefer_filename:, version:) %>
          </ul>
        <% end %>
      <% end %>
    <% else %>
      <ul>
        <%= render Download::FileListItemComponent.with_collection(downloadable_files, prefer_filename:, version:) %>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <p>No downloads available</p>
<% end %>
