<li>
  <a href='<%= url %>' target='_blank' rel='noopener noreferrer' class='su-underline' download>
    Download <%= download_label %>
  </a>
  <%= render DownloadAccessComponent.new(file:) %>
  <%= file_size %>
</li>
