// All classes should be scoped within the .sul-embed-container
@import 'sul_variables';
@import 'mixins';
@import 'modules/buttons';
@import 'modules/metadata_panel';
@import 'modules/utility';

.#{$namespace}-container {
  border: 1px solid $sul-border-color;
  color: $sul-font-color;
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  overflow-y: hidden;

  .#{$namespace}-header {
    background: $sul-background;
    font-size: 1.1em;
    min-height: 30px;
    overflow: hidden;
    @include container-padding;
    white-space: nowrap;

    .#{$namespace}-header-title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      width: 100%;
    }
  }

  .#{$namespace}-body {
    @include container-padding;
  }

  .#{$namespace}-footer {
    background: $sul-background;
    min-height: 40px;
    position: relative;
    
    .#{$namespace}-item-count {
      float: left;
      padding-left: 5px;
      padding-top: 12px;
      padding-right: 8px;
    }

    .#{$namespace}-purl-link {
      @include container-padding;
      bottom: 5px;
      clear: both;
      font-size: .8em;
      position: absolute;
      right: 0;

      .#{$namespace}-rosette {
        padding-right: 5px;
        vertical-align: middle;
      }
    }
    .#{$namespace}-footer-toolbar {
      padding-top: 10px;
    }
  }
}

.#{$namespace}-stanford-only a{
    padding-right: 20px;
    background: url(#{$asset_url}stanford_s.png) no-repeat right;
    background: url(#{$asset_url}stanford_s.svg) no-repeat right, none;
}
