// All classes should be scoped within the .sul-embed-container
@import "palette";
@import "sul_variables";
@import "mixins";
@import "modules/buttons";
@import "modules/popup_panels";
@import "modules/shadows";
@import "modules/utility";

body {
  margin: 0;
  padding: 0;
}

.sul-embed-container {
  background: $white-color;
  border: 1px solid $color-pantone-405;
  color: $sul-font-color;
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", "Arial Unicode MS", Helvetica, sans-serif;
  font-size: $font-size-base;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  .sul-embed-header {
    flex: 0 1 auto;
  }

  .sul-embed-body {
    flex: 1 1 auto;
    overflow-y: scroll; // May need to evaluate this on a viewer by viewer basis
  }

  .sul-embed-footer {
    flex: 0 1 auto;
  }

  a,
  a:hover,
  a:focus {
    border-bottom: 1px dotted $sul-link-border-color;
    color: $sul-link-color;
    text-decoration: none;
  }

  a:hover {
    color: $sul-link-hover-color;
  }

  .sul-embed-header {
    background: $sul-border-color;
    font-weight: $sul-header-weight;
    min-height: 40px;
    overflow: hidden;
    padding: 0 15px;
    white-space: nowrap;

    .sul-embed-header-title {
      color: white;
      display: inline-block;
      font-size: $sul-title-size;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      width: 100%;
      margin-top: 4px;
    }
  }

  .sul-embed-item-count {
    color: white;
    border-bottom: 0;
    font-size: $font-size-base;
    font-weight: $sul-header-weight;
    min-width: 75px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0;
    display: inline;
    float: left;
  }

  .sul-embed-footer {
    @include top-shadow;
    background: $sul-border-color;
    min-height: 30px;
    position: relative;
    padding: 0 15px;

    .sul-embed-footer-toolbar {
      padding-top: 0;
      vertical-align: middle;
      color: $white-color;
    }

    .sul-i-download-3 {
      margin-right: 1px;
      padding-right: 1px;
    }

    .sul-embed-download-count {
      background-color: $btn-default-bg;
      border-radius: 16px;
      color: $color-pantone-405;
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 1px;
      margin-left: 2px;
      min-width: 18px;
      padding-left: 3px;
      padding-right: 3px;
      text-align: center;
      vertical-align: text-top;
    }
  }
}

.sul-embed-stanford-only-text {
  background:
    url("stanford_s.svg") no-repeat left,
    none;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.sul-embed-location-restricted-text {
  color: $sul-restricted-text-color;
}

.sul-embed-header {
  @include shadow(1);
  position: relative;
  z-index: 10;
}

.sul-embed-footer {
  @include shadow(1);
}
