// All classes should be scoped within the .sul-embed-container
@import 'sul_variables';
@import 'mixins';
@import 'modules/buttons';
@import 'modules/popup_panels';
@import 'modules/utility';

.#{$namespace}-container {
  border: 1px solid $sul-border-color;
  background: white;
  color: $sul-font-color;
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: $font-size-base;
  overflow-y: hidden;

  * {
    padding: 0;
    margin: 0;
  }

  a,
  a:hover,
  a:focus {
    border-bottom: 1px dotted $sul-link-border-color;
    color: $sul-font-color;
    text-decoration: none;
  }

  .#{$namespace}-header {
    background: $sul-border-color;
    min-height: 40px;
    overflow: hidden;
    padding: 0 15px;
    white-space: nowrap;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);

    .#{$namespace}-header-title {
      color: white;
      display: inline-block;
      font-size: $sul-title-size;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      width: 100%;
      margin-top: 4px;
    }
    
    h2.#{$namespace}-item-count {
      color: white;
      border-bottom: 0;
      font-size: $font-size-base;
      font-weight: normal;
      min-width: 75px;
      line-height: 40px;
      vertical-align: middle;
      padding: 0;
      display: inline;
      float: left;
    }
  }

  .#{$namespace}-footer {
    background: $sul-border-color;
    min-height: 30px;
    position: relative;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 0 15px;

    a, a:hover, a:focus {
      color: white;
      border-bottom: 1px dotted white;
    }

    .#{$namespace}-footer-tool {
      margin: 4px 15px 0 0;
      &:hover {
        color: $sul-botton-hover-color;
        background-color: $sul-botton-hover-bg;
        border-color: $sul-botton-hover-border-color;
      }
    }
    .#{$namespace}-purl-link {
      font-size: .9em;
      position: absolute;
      right: 0;
      font-size: .9em;
      line-height: 30px;
      vertical-align: middle;
      position: absolute;
      right: 15px;
      top: 0;

      .#{$namespace}-rosette {
        padding-right: 5px;
        vertical-align: middle;
      }
    }
    .#{$namespace}-footer-toolbar {
      line-height: 30px;
      padding-top: 0;
      vertical-align: middle;
    }
  }
}

.#{$namespace}-stanford-only a{
    padding-right: 20px;
    background: url(#{$asset_url}stanford_s.png) no-repeat right;
    background: url(#{$asset_url}stanford_s.svg) no-repeat right, none;
}
