@import 'common';
@import 'modules/bootstrap_media';
@import 'vendor/tooltip';

body {
  overflow-y: hidden;
}

.#{$namespace}-container {
  .#{$namespace}-header {
    flex-shrink: 0;
  }

  .#{$namespace}-search {
    padding-top: 8px;

    label {
      display: none;
    }

    .#{$namespace}-search-input {
      @include container-padding;
      border: 1px solid $sul-input-border;
      border-radius: 3px;
      width: 15em;
    }
  }

  .#{$namespace}-body {
    overflow-y: scroll;
  }

  .#{$namespace}-description {
    color: $sul-description-font-color;
  }

  .#{$namespace}-count {
    color: $sul-count-font-color;
  }

  .#{$namespace}-square-image {
    max-height: 100%;
    max-width: 100%;
  }

  .#{$namespace}-download {
    display: inline;
    font-size: .9em;

    i:after {
      content: '\00a0';
    }
  }

  .#{$namespace}-preview {
    @include padding-top;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  .#{$namespace}-preview-toggle {
    cursor: pointer;
    font-size: .9em;
    margin-left: 5px;

    .#{$namespace}-preview-text {
      margin-left: 3px;
    }
  }
}

.#{$namespace}-embargo-message {
  padding: 10px;
}

.#{$namespace}-file-list {
  @include well-container;

  height: 100%;
}

.#{$namespace}-media-list {
  @include well-content;
}
