@import url("companion_window.css");
@import url("common.css");

.text-gray {
  color: gray;
}

.folder-title {
  svg {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    color: var(--button-color);
  }
}

.search-query-form {
  border: 1px solid #ababa9;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin-inline-start: 1rem;
  margin-inline-end: 0.3rem;
  display: flex;

  svg {
    vertical-align: middle;
    color: var(--button-color);
  }

  .search-input {
    border: 0;
    &:focus-visible {
      outline: 0;
    }
  }
}

.item-count {
  white-space: nowrap;
}

/* Collapse/expand icons */
.sul-embed-treegrid {
  width: 100%;
  border-collapse: collapse;

  th {
    font-weight: normal;
    text-align: left;
  }

  th {
    &:nth-of-type(2) {
      border-inline: 1px solid var(--border-color);
    }
  }

  th,
  td {
    a {
      text-decoration: none;
    }

    &:nth-of-type(2) {
      padding-inline: 1rem;
      text-align: center;
    }
  }

  th,
  td {
    &:nth-of-type(3) {
      padding-inline-start: 3rem;
    }
  }

  tr {
    display: table-row;
    cursor: default;
    border-bottom: 1px solid var(--border-color);
  }

  thead tr th:first-of-type {
    padding-left: 15px;
  }

  col.sul-embed-treegrid-size {
    width: 15%;
  }
  col.sul-embed-treegrid-download {
    width: 28%;
  }

  /* Extra space between columns for readability */
  th,
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  tr[hidden] {
    display: none !important;
  }

  tr > td:first-child::before {
    transition: transform 0.3s;
    margin-left: 5px;
  }

  tr[aria-expanded] > td:first-child,
  td[aria-expanded]:first-child {
    &::before {
      content: "";
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root' focusable='false' aria-hidden='true' viewBox='0 0 24 24'%3E%3Cpath d='M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;
      vertical-align: middle;
    }
    font-weight: bold;
  }

  tr[aria-expanded="true"] > td:first-child::before,
  td[aria-expanded="true"]:first-child::before {
    transform: rotate(90deg);
  }

  .sul-embed-filename-cell,
  .folder-title {
    font-size: 1rem;
  }

  .sul-embed-filename-cell {
    padding-right: 10px;

    .tree-label {
      font-size: 0.875rem;
      margin: 0;
    }

    svg {
      height: 1rem;
      width: 1rem;
      fill: currentColor;
      color: var(--button-color);
    }
  }
}

.sul-embed-downloads svg {
  vertical-align: middle;
}

.download-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: var(--link-color);
  vertical-align: bottom;
}
