@import 'common';
@import 'modules/bootstrap_media';
@import 'vendor/tooltip';

body {
  overflow-y: hidden;
}

.#{$namespace}-container {
  .#{$namespace}-header {
    flex-shrink: 0;
  }

  .#{$namespace}-search {
    padding-top: 8px;

    label {
      display: none;
    }

    .#{$namespace}-search-input {
      @include container-padding;
      border: 1px solid $sul-input-border;
      border-radius: 3px;
      width: 15em;
      margin-left: 15px;
    }
  }

  .#{$namespace}-body {
    overflow-y: scroll;
  }

  .#{$namespace}-description {
    color: $sul-description-font-color;
  }

  .#{$namespace}-count {
    color: $sul-count-font-color;
    width: 18px;
  }

  .#{$namespace}-square-image {
    max-height: 100%;
    max-width: 100%;
  }

  .#{$namespace}-footer-toolbar .sul-i-download-3 {
    padding: 0px 5px 0px 5px;
  }

  .#{$namespace}-footer-toolbar .sul-embed-location-restricted-text {
    background-color: $white-color;
  }

  .#{$namespace}-footer-toolbar a {
    color: $white-color;
  }

  .#{$namespace}-download {
    display: inline;
    font-size: .9em;

    i:after {
      content: '\00a0';
    }
  }

  .#{$namespace}-preview {
    @include padding-top;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  .#{$namespace}-preview-toggle {
    cursor: pointer;
    font-size: .9em;
    margin-left: 5px;

    .#{$namespace}-preview-text {
      margin-left: 3px;
    }
  }

  ul[role="tree"] {
    // margin: 0;
    padding-top: 10px;
    // padding: 10px;
    list-style: none;
    // font-size: 120%;
  }
  
  ul[role="tree"] li {
    // margin: 0;
    padding: 0;
    list-style: none;
  }

  [role="treeitem"] {
    margin-top: 10px;
  }

  [role="treeitem"][aria-expanded="false"] + [role="group"] {
    display: none;
  }
  
  [role="treeitem"][aria-expanded="true"] + [role="group"] {
    display: block;
  }

  [role="treeitem"][aria-expanded="false"] > ul {
    display: none;
  }
  
  [role="treeitem"][aria-expanded="true"] > ul {
    display: block;
  }

  [role="treeitem"][aria-hidden="true"] {
    display: none;
  }

  [role="treeitem"][aria-hidden="false"] {
    display: block;
  }

  .#{$namespace}-treeitem {
    display: flex;

    .#{$namespace}-media-object {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  [role="treeitem"][aria-expanded="false"] > .#{$namespace}-treeitem::before {
    font-family: 'sul-icons';
    content: '\f10b'; // sul-i-arrow-right-8 
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    width: 15px;
  }
  
  [role="treeitem"][aria-expanded="true"] > .#{$namespace}-treeitem::before {
    font-family: 'sul-icons';
    content: '\f13e'; // sul-i-arrow-down-8 
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    width: 15px;
  }

  ul.sul-embed-media-list {
    margin-left: 0;
    padding-left: 0;
  }

  ul {
		margin-left: 0;
		padding-left: 2em;
	}
}

.#{$namespace}-embargo-message {
  padding: 10px;
}

.#{$namespace}-file-list {
  @include well-container;

  min-height: 189px;
}

.#{$namespace}-media-list {
  @include well-content;
}
