@import 'common';
@import 'modules/utility';
@import 'modules/media';

.sul-embed-container {
  .sul-embed-search {
    label {
      font-size: .7em;
      padding-right: 5px;
    }
  }
  
  .sul-embed-body {
    max-height: 600px;
    overflow-y: scroll;
  }

  .sul-embed-download {
    i:after {
      content: '\00a0';
    }
  }
}
