@import url("companion_window.css");
@import url("common.css");

.text-gray {
  color: gray;
}

.search-query-form {
  border: 1px solid #ababa9;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin-inline-start: 1rem;
  margin-inline-end: 0.3rem;
  display: flex;

  svg {
    vertical-align: middle;
    color: var(--button-color);
  }

  .search-input {
    border: 0;
    &:focus-visible {
      outline: 0;
    }
  }
}

.item-count {
  white-space: nowrap;
}

/* Collapse/expand icons */
.sul-embed-treegrid {
  width: 100%;
  border-collapse: collapse;

  th {
    font-weight: normal;
    text-align: left;
  }

  th {
    &:nth-of-type(2) {
      border-inline: 1px solid var(--border-color);
    }
  }

  th,
  td {
    &:nth-of-type(2) {
      padding-inline: 1rem;
      text-align: center;
    }
  }

  th,
  td {
    &:nth-of-type(3) {
      padding-inline-start: 3rem;
    }
  }

  tr {
    display: table-row;
    cursor: default;
    border-bottom: 1px solid var(--border-color);
  }

  thead tr th:first-of-type {
    padding-left: 15px;
  }

  col.sul-embed-treegrid-size {
    width: 15%;
  }
  col.sul-embed-treegrid-download {
    width: 28%;
  }

  /* Extra space between columns for readability */
  th,
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  tr[hidden] {
    display: none !important;
  }

  tr > td:first-child::before {
    display: inline;
    width: 2ch;
    height: 11px;
    transition: transform 0.3s;
    transform-origin: 5px 5px;
    margin-left: 5px;
  }

  tr[aria-expanded] > td:first-child,
  td[aria-expanded]:first-child {
    &::before {
      cursor: pointer;
      font-family: "sul-icons";
      content: "\f10b";
      display: inline-block;
      font-weight: 900;
    }
    font-weight: bold;
  }

  tr[aria-expanded="true"] > td:first-child::before,
  td[aria-expanded="true"]:first-child::before {
    transform: rotate(90deg);
  }

  .sul-embed-filename-cell,
  .dirname {
    font-size: 1rem;
  }

  .sul-embed-filename-cell {
    padding-right: 10px;

    .tree-label {
      font-size: 0.875rem;
      margin: 0;
    }

    svg {
      height: 1rem;
      width: 1rem;
      color: var(--button-color);
    }
  }
}

.sul-embed-downloads svg {
  vertical-align: middle;
}

.download-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: var(--link-color);
  vertical-align: bottom;
}
