@import "common";
@import "leaflet/dist/leaflet";

[data-wms-url] {
  cursor: crosshair;
}

.sul-embed-geo {
  position: relative;
  display: flex;
}

.sul-embed-geo-sidebar {
  background: $sul-metadata-bg;
  height: auto;
  position: absolute;
  right: 0;
  width: 250px;

  &.collapsed {
    i {
      transform: rotate(180deg);
    }
  }
}

.sul-embed-geo-sidebar-header {
  padding: 0px 10px;

  i {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

.sul-embed-geo-sidebar-content {
  background: $sul-metadata-bg;
  overflow: scroll;
  padding: 0 10px 10px;

  dt {
    font-weight: bold;
  }

  .inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    width: 100%;

    // scss-lint:disable SelectorDepth
    dt {
      flex: 0 0 35%;
      overflow: scroll;
      text-overflow: ellipsis;
    }

    dd {
      flex: 0 0 64%;
      margin-left: auto;
      overflow: scroll;
      text-align: left;
    }
    // scss-lint:enable SelectorDepth
  }
}

.opacity-control {
  background-color: #a9acb1;
  border-radius: 15px;
  color: black;
  font:
    bold 18px "Lucida Console",
    Monaco,
    monospace;
  display: block;
  height: 200px;
  left: 11px;
  position: relative;
  top: 15px;
  width: 5px;

  .opacity-handle {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    cursor: ns-resize;
    font-size: 10px;
    height: 26px;
    left: -11px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 26px;
    z-index: 20;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

    &:hover {
      background-color: $color-fog-light;
    }
  }

  .opacity-arrow-up {
    color: #aaa;
    position: absolute;
    top: -11px;
    text-align: center;
    width: 100%;

    &:before {
      content: "=";
    }
  }

  .opacity-arrow-down {
    bottom: -10px;
    color: #aaa;
    position: absolute;
    text-align: center;
    width: 100%;

    &:before {
      content: "=";
    }
  }

  .opacity-bottom {
    background-color: #017afd;
    border-radius: 15px;
    display: block;
    height: 100%;
    top: 30px;
    left: 0px;
    position: relative;
    width: 5px;
  }

  // Area underneath slider to prevent unintentioned map clicks
  .opacity-area {
    padding: 14px;
    cursor: default;
    height: 200px;
    left: -11px;
    position: absolute;
    top: 0px;
    width: 20px;
  }
}

.opacity-control.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
