@import 'common';
@import 'modules/bootstrap_media';
@import 'vendor/tooltip';
@import 'leaflet';
@import 'leaflet-sidebar';

[data-wms-url] {
  cursor: crosshair;
}

.sul-embed-geo {
  position: relative;
}

#sul-embed-geo-sidebar {
  background: $sul-metadata-bg;
  cursor: default;

  &.collapsed .sidebar-tabs ul li a i:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .sidebar-tabs {
    background: $sul-metadata-bg;
    ul li.active a {
      background-color: $sul-border-color;
      color: $white-color;
    }
  }

  .sidebar-content {
    background: $sul-metadata-bg;
    margin: 15px;

    .inline-flex {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      overflow: visible;
      width: 100%;

      dt {
        flex: 0 0 33%;
        overflow: scroll;
        text-overflow: ellipsis;
      }

      dd {
        flex: 0 0 66%;
        margin-left: auto;
        overflow: scroll;
        text-align: left;
      }
    }
  }
}
