@layer layout, common;
@import url("companion_window.css") layer(layout);
@import url("common.css") layer(common);

.sul-embed-geo {
  isolation: isolate; /* So that tooltips can hover above the map */
  position: relative;
  display: flex;
  flex-grow: 1;

  /* Styling; see ogm-viewer README for more details */
  --ogm-data-color: #006cb8;
  --ogm-invalid-color: #b1040e;
  --ogm-selected-color: yellow;
  --ogm-highlight-color: #e98300;
  --ogm-data-opacity: 0.75;
  --ogm-bounds-opacity: 0.2;
}
