.iov {
  box-sizing: border-box;
  position: relative;
}

.iov-menu-bar {
  overflow: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}


.iov-menu-bar .iov-controls {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  float: left;
  padding: 4px;
}

.iov-menu-bar .fa {
  cursor: pointer;
  font-size: 15px;
}

.iov-menu-bar .iov-view-options {
  background-color: #333;
  border: 4px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  float: left;
  margin-right: 10px;
  padding: 10px;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
}

.iov-list-view {
  float: right;
  height: 100%;
  width: 100%;
  margin-left: -100px;
}

.iov-list-view .iov-list-view-thumbs-viewport,
.iov-list-view .iov-list-view-osd {
  height: 100%;
}

.iov-list-view .iov-list-view-thumbs-viewport {
  float: left;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100px;
}

.iov-list-view .iov-list-view-osd {
  margin-left: 100px;
}

.iov-list-view .iov-list-view-thumbs-viewport ul {
  margin: 0;
  padding: 5px 0;
  position: relative;
}

.iov-list-view .iov-list-view-thumbs-viewport li {
  cursor: pointer;
  list-style-type: none;
  padding: 5px 5px 5px 5px;
}

.iov-list-view .iov-list-view-thumbs-viewport li img {
  width: 100%;
}

.iov-list-view-thumb-selected {
  background-color: #999;
}

.iov-menu-bar .iov-list-view-controls {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.iov-menu-bar a {
  color: #000;
  text-decoration: none;
}

.iov-menu-bar .iov-list-view-controls .fa {
  padding: 4px 6px;
}

.iov-gallery-view {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.iov-gallery-view ul {
  margin: 0;
  padding: 40px 5px 5px 5px;
}

.iov-gallery-view li {
  float: left;
  list-style-type: none;
  padding: 5px;
}


.iov-horizontal-view {
  height: 100%;
}

.iov-horizontal-view .iov-horizontal-view-viewport {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
}

.iov-horizontal-view ul {
  margin: 5px 0 5px 0;
  padding: 0;  
}

.iov-horizontal-view li {
  float: left;
  list-style-type: none;
  padding: 0 5px;
}

.iov-menu-bar a,
.iov-controls a,
.iov-list-view-thumbs a, .iov-list-view-thumbs a:hover,
.iov-gallery-view a, .iov-gallery-view a:hover,
.iov-horizontal-view-images a, .iov-horizontal-view-images a:hover {
  border-width: 0;
  text-decoration: none;
}


:-webkit-full-screen,  {
  height: 100%;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

:-moz-full-screen .iov {
  height: 100%;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

:-ms-fullscreen .iov {
  height: 100%;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

:full-screen .iov { /*pre-spec */
  height: 100%;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

:fullscreen .iov { /* spec */
  height: 100%;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}
