@import 'common';
@import 'modules/bootstrap_media';
@import 'modules/slider';
@import 'vendor/tooltip';

$image-thumb-background-color: #fff;
$image-thumb-slider-border-color: $sul-border-color;
$image-thumb-slider-background-color: $sul-background;

.#{$namespace}-image-x {
  background: $sul-background;
  height: 400px;
  position: relative;
}

.#{$namespace}-image-x-buttons {
  float: right;
  padding-top: 8px;

  .#{$namespace}-btn {
    margin-left: 5px;
  }
}

.#{$namespace}-header-title + .#{$namespace}-image-x-buttons {
  padding-top: 0;
}

##{$namespace}-image-x {
  height: 100%;
  width:100%;
  position: relative;
}

.#{$namespace}-image-x-thumb-slider-container {
  @include top-shadow;
  background: $image-thumb-slider-background-color;
  border-top: 1px solid $image-thumb-slider-border-color;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.#{$namespace}-image-x-thumb-slider-open-close {
  color: $image-thumb-slider-border-color;
  cursor: pointer;
  font-size: 1.7em;
  line-height: 1em;
  text-align: center;
  width: 100%;
}

.#{$namespace}-image-x-thumb-slider {
  height: 100px;
  margin: 0;
  padding: 0;
  width: 100%;

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.#{$namespace}-image-x-thumb {
  @include shadow(2);
  background: $image-thumb-background-color;
  cursor: pointer;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  img {
      width:100%;
  }
}

.#{$namespace}-image-x-frame-label {
  text-align: center;
  width:100%;
  height:35px;
  position:absolute;
  bottom:0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$namespace}-image-x-frame {
  display: block;
  position: absolute;
}

.#{$namespace}-image-x-canvas {
  @include shadow(2);
  display: block;
  position: absolute;
}

.#{$namespace}-image-x-label {
  margin-bottom: 0;
  margin-top: -4px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.#{$namespace}-image-x-side-control {
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 2em;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 0;
  width: 10%;
  z-index: 100;

  &.#{$namespace}-image-x-side-control-right {
    left: auto;
    right: 0;

    div {
      right: 50%;
    }
  }

  div {
    display: inline-block;
    position: absolute;
    top: 50%;
  }
}

.#{$namespace}-image-x-well {
  @include well-container;
}

.#{$namespace}-image-x-well-content {
  @include well-content;
  text-align: center;
}

.#{$namespace}-image-x-restricted-thumb-container {
  .#{$namespace}-image-x-auth-link {
    @include rounded();
    background: rgba($sul-background, 0.65);
    bottom: 10px;
    left: 10px;
    padding: 5px;
    position: absolute;
  }

  a {
    @include stanford-only;
  }
}

.#{$namespace}-image-x-restricted-thumb {
  @include center-block;
}
