@import 'common';
@import 'modules/media';
@import 'modules/slider';
@import 'vendor/tooltip';

$image-thumb-background-color: #fff;
$image-thumb-slider-border-color: $sul-border-color;
$image-thumb-slider-background-color: $sul-background;

.#{$namespace}-image-x {
  background: $sul-background;
  height: 400px;
  position: relative;
}

.#{$namespace}-image-x-buttons {
  float: right;

  .#{$namespace}-btn {
    margin-left: 5px;
  }
}

##{$namespace}-image-x {
  height: 100%;
  width:100%;
  position: relative;
}

.#{$namespace}-image-x-thumb-slider-container {
  @include top-shadow;
  background: $image-thumb-slider-background-color;
  border-top: 1px solid $image-thumb-slider-border-color;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.#{$namespace}-image-x-thumb-slider-open-close {
  color: $image-thumb-slider-border-color;
  cursor: pointer;
  font-size: 1.7em;
  line-height: 1em;
  text-align: center;
  width: 100%;
}

.#{$namespace}-image-x-thumb-slider {
  height: 132px;
  margin: 0;
  padding: 0;
  width: 100%;

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.#{$namespace}-image-x-thumb {
  @include shadow(2);
  background: $image-thumb-background-color;
  cursor: pointer;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  img {
      width:100%;
  }
}

.#{$namespace}-image-x-frame-label {
  text-align: center;
  width:100%;
  height:35px;
  position:absolute;
  bottom:0;
}

.#{$namespace}-image-x-frame {
  display: block;
  position: absolute;  
}

.#{$namespace}-image-x-canvas {
  @include shadow(2);
  display: block;
  position: absolute;
}

.#{$namespace}-image-x-label {
  width:100%;
  text-align:center;
  margin-bottom:5px;
}
