@import "legacy_common";
$color-beige-10: #f2f1eb;

body {
  overflow-y: hidden;
}

.sul-embed-container {
  .sul-embed-header {
    flex-shrink: 0;
  }

  .sul-embed-search {
    padding-top: 8px;

    label {
      display: none;
    }

    .sul-embed-search-input {
      border: 1px solid $sul-input-border;
      border-radius: 3px;
      margin-left: 15px;
      padding: 4px 7px;
      width: 15em;
    }
  }

  .sul-embed-body {
    overflow-y: scroll;
  }

  .sul-embed-footer-toolbar .sul-i-download-3 {
    padding: 0px 5px 0px 5px;
  }

  .sul-embed-footer-toolbar .sul-embed-location-restricted-text {
    background-color: $white-color;
  }

  .sul-embed-footer-toolbar a {
    color: $white-color;
  }
}

.sul-embed-embargo-message {
  padding: 20px;
  color: $sul-restricted-text-color;
}

/* Collapse/expand icons */
.sul-embed-treegrid {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th {
    text-align: left;
  }

  tr {
    display: table-row;
    cursor: default;
  }

  thead tr th:first-of-type {
    padding-left: 15px;
  }

  tbody > tr:nth-child(odd of :not([hidden])) {
    background-color: $color-beige-10;
  }

  col.sul-embed-treegrid-size,
  col.sul-embed-treegrid-download {
    width: 20%;
  }

  /* Extra space between columns for readability */
  th,
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  tbody td {
    cursor: default;
    vertical-align: top;
  }

  tr[hidden] {
    display: none !important;
  }

  tr > td:first-child::before {
    display: inline;
    width: 2ch;
    height: 11px;
    transition: transform 0.3s;
    transform-origin: 5px 5px;
    margin-left: 5px;
  }

  tr[aria-expanded] > td:first-child::before,
  td[aria-expanded]:first-child::before {
    cursor: pointer;
    font-family: "sul-icons";
    content: "\f10b"; // sul-i-arrow-right-8
    display: inline-block;
    font-weight: 900;
  }

  tr[aria-expanded="true"] > td:first-child::before,
  td[aria-expanded="true"]:first-child::before {
    transform: rotate(90deg);
  }

  .sul-embed-filename-cell {
    padding-right: 10px;

    .tree-label {
      margin: 0;
    }
  }
}

.download-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: #006cb8;
  vertical-align: top;
}