@import 'modules/bootstrap_mixins';

@mixin container-padding {
  padding: 4px 7px;
}

@mixin padding-top {
  padding: 7px;
}

@mixin license-images($license, $asset-url) {
  background: asset-url('#{$asset-url}#{$license}.png') no-repeat left;
  background: asset-url('#{$asset-url}#{$license}.svg') no-repeat left;
  display: inline-block;
  height: 15px;
  margin-right: 6px;
  width: 80px;
}
