@import 'sul_variables';
@import 'modules/bootstrap_mixins';

@mixin container-padding {
  padding: 4px 7px;
}

@mixin padding-top {
  padding: 7px;
}

@mixin panel-list-style {
  list-style: none;
  padding-left: 8px;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin well-content {
  @include shadow(2);
  background-color: $white-color;
  padding: 10px;
}

@mixin stanford-only($orientation: right, $icon-padding: 20px) {
  background: url('stanford_s.png') no-repeat $orientation;
  background: url('stanford_s.svg') no-repeat $orientation, none;
  padding-#{$orientation}: $icon-padding;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}
