@import url("companion_window.css");
@import url("common.css");
@import url("locked_status.css");

.sul-embed-3d {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;

  .buttons {
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 1;
  }

  .zoom-in,
  .zoom-out {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2em;
    padding: 5px 13px;
  }

  .model-viewer-container, model-viewer {
    height: 100%;
    width: 100%;
  }

  model-viewer {
    background-color: black;
  }
}
