// Extracted from:
//   https://github.com/sul-dlss/sul_styles/blob/master/app/assets/stylesheets/sul-styles/su_web_colors.scss
//   https://github.com/sul-dlss/sul_styles/blob/master/app/assets/stylesheets/sul-styles/su_primary_colors.scss
$color-cardinal-red: #8c1515;
$color-fog-light: #f4f4f4;
// $color-dark-red: #820000;
// $color-gray: #3f3c30;
// $color-black: #000;
$color-blackish: #2e2d29;
// $color-beige-40: #d5d0c0;
$color-beige-30: #e3dfd5;
// $color-beige-20: #e9e6df;
$color-beige-10: #f2f1eb;
$color-beige-05: #fbfbf9;
// $color-pantone-334: #009b76;
$color-pantone-401: #b6b1a9;
$color-pantone-405: #5f574f;
// $color-pantone-144: #e98300;
// $color-pantone-124: #eaab00;
// $color-pantone-403: #928b81;
