@import 'common';
@import 'modules/loading_spinner';
@import 'modules/fullscreen';

.#{$namespace}-pdf {
  position: relative;

  .pdf-viewer {
    background-color: $black-color;
    height: 100%;
    overflow-y: auto;
    text-align: center;

    &.error {
      background-color: $white-color;
    }
  }

  .button {
    background: $black-50-percent-opaque;
    border: none;
    color: $white-color;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    width: 42px;

    &.zoom-in,
    &.zoom-out {
      left: 5px;
      padding: 5px 13px;
      top: 5px;
    }

    &.zoom-out {
      left: 52px; // Account for Zoom-out button plus spacing
    }

    &.prev-page,
    &.next-page {
      background-position: center;
      background-repeat: no-repeat;
      height: 90px;
      top: 40%;

      &.disabled {
        color: $white-60-percent-opaque;
      }
    }

    &.prev-page {
      left: 5px;
    }

    &.next-page {
      right: 20px;
    }
  }
}
