//
// Icon Font: sul-icons
//

@font-face {
  font-family: "sul-icons";
  src: url("sul-icons.eot");
  src: url("sul-icons.eot?#iefix") format("embedded-opentype"),
       url("sul-icons.woff") format("woff"),
       url("sul-icons.ttf") format("truetype"),
       url("sul-icons.svg#sul-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sul-icons";
    src: url("sul-icons.svg#sul-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.sul-i-arrow-down-8:before,
.sul-i-arrow-left-3:before,
.sul-i-arrow-left-8:before,
.sul-i-arrow-right-3:before,
.sul-i-arrow-right-8:before,
.sul-i-arrow-up-8:before,
.sul-i-book-open-4:before,
.sul-i-bookmark-all-1:before,
.sul-i-books-library:before,
.sul-i-box-1:before,
.sul-i-bubble-chat-2:before,
.sul-i-camera-film-1:before,
.sul-i-check-2:before,
.sul-i-check-box-1:before,
.sul-i-close:before,
.sul-i-cube:before,
.sul-i-download-3:before,
.sul-i-email:before,
.sul-i-expand-1:before,
.sul-i-file-acrobat:before,
.sul-i-file-code-1:before,
.sul-i-file-excel:before,
.sul-i-file-music-1:before,
.sul-i-file-new-1:before,
.sul-i-file-picture:before,
.sul-i-file-powerpoint:before,
.sul-i-file-text-document:before,
.sul-i-file-video-3:before,
.sul-i-file-words:before,
.sul-i-file-zipped:before,
.sul-i-graph-bar-2:before,
.sul-i-infomation-circle:before,
.sul-i-key-2:before,
.sul-i-layout-4:before,
.sul-i-layout-none:before,
.sul-i-link-3:before,
.sul-i-list-bullets-1:before,
.sul-i-location-pin-2:before,
.sul-i-map-pin-1:before,
.sul-i-microphone-3:before,
.sul-i-mobile-phone-2:before,
.sul-i-mouse:before,
.sul-i-navigation-drawer-1:before,
.sul-i-navigation-drawer-2:before,
.sul-i-navigation-left-2:before,
.sul-i-navigation-next-4:before,
.sul-i-navigation-show-more-1:before,
.sul-i-network-web:before,
.sul-i-news-article:before,
.sul-i-newspaper:before,
.sul-i-notebook:before,
.sul-i-person-1:before,
.sul-i-person-information-1:before,
.sul-i-picture-2:before,
.sul-i-plug-1:before,
.sul-i-print-text:before,
.sul-i-quote-1:before,
.sul-i-remove-2:before,
.sul-i-search:before,
.sul-i-share:before,
.sul-i-transfer-3:before,
.sul-i-truck-1:before,
.sul-i-turntable:before,
.sul-i-view-headline:before,
.sul-i-view-list:before,
.sul-i-view-module-1:before,
.sul-i-window-search:before,
.sul-i-zoom-in:before {
  display: inline-block;
  font-family: "sul-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.sul-i-arrow-down-8:before { content: "\f13e"; }
.sul-i-arrow-left-3:before { content: "\f108"; }
.sul-i-arrow-left-8:before { content: "\f109"; }
.sul-i-arrow-right-3:before { content: "\f10a"; }
.sul-i-arrow-right-8:before { content: "\f10b"; }
.sul-i-arrow-up-8:before { content: "\f13f"; }
.sul-i-book-open-4:before { content: "\f10c"; }
.sul-i-bookmark-all-1:before { content: "\f10d"; }
.sul-i-books-library:before { content: "\f10e"; }
.sul-i-box-1:before { content: "\f10f"; }
.sul-i-bubble-chat-2:before { content: "\f110"; }
.sul-i-camera-film-1:before { content: "\f111"; }
.sul-i-check-2:before { content: "\f143"; }
.sul-i-check-box-1:before { content: "\f112"; }
.sul-i-close:before { content: "\f141"; }
.sul-i-cube:before { content: "\f113"; }
.sul-i-download-3:before { content: "\f106"; }
.sul-i-email:before { content: "\f114"; }
.sul-i-expand-1:before { content: "\f115"; }
.sul-i-file-acrobat:before { content: "\f13a"; }
.sul-i-file-code-1:before { content: "\f137"; }
.sul-i-file-excel:before { content: "\f13b"; }
.sul-i-file-music-1:before { content: "\f116"; }
.sul-i-file-new-1:before { content: "\f140"; }
.sul-i-file-picture:before { content: "\f136"; }
.sul-i-file-powerpoint:before { content: "\f13d"; }
.sul-i-file-text-document:before { content: "\f139"; }
.sul-i-file-video-3:before { content: "\f138"; }
.sul-i-file-words:before { content: "\f13c"; }
.sul-i-file-zipped:before { content: "\f134"; }
.sul-i-graph-bar-2:before { content: "\f117"; }
.sul-i-infomation-circle:before { content: "\f104"; }
.sul-i-key-2:before { content: "\f118"; }
.sul-i-layout-4:before { content: "\f119"; }
.sul-i-layout-none:before { content: "\f11a"; }
.sul-i-link-3:before { content: "\f107"; }
.sul-i-list-bullets-1:before { content: "\f11b"; }
.sul-i-location-pin-2:before { content: "\f147"; }
.sul-i-map-pin-1:before { content: "\f11c"; }
.sul-i-microphone-3:before { content: "\f11d"; }
.sul-i-mobile-phone-2:before { content: "\f11e"; }
.sul-i-mouse:before { content: "\f11f"; }
.sul-i-navigation-drawer-1:before { content: "\f120"; }
.sul-i-navigation-drawer-2:before { content: "\f121"; }
.sul-i-navigation-left-2:before { content: "\f122"; }
.sul-i-navigation-next-4:before { content: "\f142"; }
.sul-i-navigation-show-more-1:before { content: "\f146"; }
.sul-i-network-web:before { content: "\f123"; }
.sul-i-news-article:before { content: "\f124"; }
.sul-i-newspaper:before { content: "\f125"; }
.sul-i-notebook:before { content: "\f126"; }
.sul-i-person-1:before { content: "\f127"; }
.sul-i-person-information-1:before { content: "\f128"; }
.sul-i-picture-2:before { content: "\f129"; }
.sul-i-plug-1:before { content: "\f12a"; }
.sul-i-print-text:before { content: "\f12b"; }
.sul-i-quote-1:before { content: "\f12c"; }
.sul-i-remove-2:before { content: "\f144"; }
.sul-i-search:before { content: "\f12d"; }
.sul-i-share:before { content: "\f105"; }
.sul-i-transfer-3:before { content: "\f12e"; }
.sul-i-truck-1:before { content: "\f145"; }
.sul-i-turntable:before { content: "\f12f"; }
.sul-i-view-headline:before { content: "\f130"; }
.sul-i-view-list:before { content: "\f131"; }
.sul-i-view-module-1:before { content: "\f102"; }
.sul-i-window-search:before { content: "\f132"; }
.sul-i-zoom-in:before { content: "\f133"; }
