// Colors
$gray-80-percent: #ccc;
$gray-54-percent: #737373;
$white-color: #fff;

// Bootstrap needed (for mixins)
$btn-default-bg: #fff;
$close-color: #000;
$close-font-weight: bold;
$close-text-shadow: 0 1px 0 #fff;
$font-size-base: 14px;

$sul-border-color: $color-pantone-405;
$sul-button-bg: $sul-border-color;
$sul-button-color: white;
$sul-font-color: black;
$sul-input-border: $gray-80-percent;
$sul-title-size: floor(($font-size-base * 1.29));
$sul-header-weight: 300;
$sul-link-border-color: $color-pantone-401;
$sul-link-color: #006cb8;
$sul-link-hover-color: #00548f;
$sul-metadata-bg: $color-beige-05;
$sul-metadata-heading-color: $gray-54-percent;
$sul-metadata-label-color: dimgrey;
$sul-restricted-text-color: $color-cardinal-red;
