@import 'common';
@import 'modules/fullscreen';

.#{$namespace}-3d {
  position: relative;

  .buttons {
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 1;
  }

  .zoom-in,
  .zoom-out {
    background: transparent;
    border: none;
    color: $white-color;
    cursor: pointer;
    font-size: 2em;
    padding: 5px 13px;
  }

  model-viewer {
    background-color: black;
    width: 100vw;
    height: calc(100vh - 70px);
  }
}
