// @import 'sul_variables';
@import 'common';

.#{$namespace}-was-seed-content {
  @include well-content;
  background: $white-color;
}

.#{$namespace}-was-seed-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.#{$namespace}-was-seed-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 12px 12px 12px;
}

.#{$namespace}-was-seed-preview {
  img {
    max-height: 200px;
  }
}

.#{$namespace}-was-seed-captures {
  padding-top: 6px;
}


.#{$namespace}-was-seed-info {
  flex-basis: 200px;
  max-width: 220px;
  padding-top: 12px;
  position: relative;

  a {
    border: 1px solid $color-beige-30;
    text-align: center;
  }
}

.#{$namespace}-was-seed-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 12px;
}

.#{$namespace}-was-seed-list-item {
  border: 1px solid $color-beige-30;
  margin: 0 15px 15px 0;
  min-width: 225px;
  padding: 10px;
  position: relative;

  &:before {
    content: ' \f123';
    color: $gray-54-percent;
    font-family: 'sul-icons';
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.#{$namespace}-was-seed-container {
  @include well-container;

  h1 {
    font-size: 1.5rem;
    font-weight: $sul-header-weight;
  }
}
