@import 'sul_variables';
@import 'common';
@import 'vendor/tooltip';
@import 'modules/slider';
@import 'modules/shadows';

.#{$namespace}-was-seed {
  background-color: $sul-background;
  padding: 0;
 }
 
.#{$namespace}-was-thumb-list {
  list-style: none;
  padding: 10px;
 }

.#{$namespace}-was-thumb-item {
  float: left;
  margin: 2px 2px 10px 2px; //top right bottom left

  &:hover {
    @include shadow(2);
    background-color: $color-beige-05;
    transition: all 0.2s ease-in-out;
  }

  &.active {
    @include shadow(2);
    background-color: $white-color;
  }
}

.#{$namespace}-was-thumb-item-div {
  margin: 5px;
  text-align: center;
}
