<div class='sul-embed-header'>
  <%= render 'embed/title', viewer: viewer %>
  <div class='sul-embed-item-count' aria-live='polite' data-tree-target="count"></div>
  <% if viewer.display_file_search? %>
    <div class='sul-embed-search'>
      <label for='sul-embed-search-input' class='sul-embed-sr-only'>Search this list</label>
      <input class='sul-embed-search-input' id='sul-embed-search-input' placeholder='Search this list' data-search-input="true" data-action="keyup->tree#search">
    </div>
  <% end %>
</div>
