<div class="header-background">
    <h3>Contents</h3>
</div>
<ul class="left-drawer-content"
    id="content-list"
    data-controller="content-list"
    data-action="thumbnails-found@window->content-list#drawThumbnails"
    role="tablist">
    <%= render CompanionWindows::ContentListItemComponent.with_collection(viewer.purl_object.downloadable_files, viewer:) %>
</ul>
